body {
  background-image: url('../img/back.jpg');
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
}

#container {
  position: absolute;
  left: 15%;
  right: 15%;
  width: 70%;
}

.item {
  text-align: center;
  font-size: 14px;
  width: 100px;
  color: white;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 0px;
  display: inline-block;
  margin: 20px;
  transition: box-shadow 0.5s, background-color 0.5s;
  background-color: rgba(63, 63, 63, 0.233);
}

.icon {
  height: 60px;
  width: 60px;
  transition: transform 0.8s;
}

.title {
  display: block;
}

.item:hover>.icon {
  transform: rotate(720deg);
}

.item:hover {
  box-shadow: 0 0 20px rgb(243, 255, 68);
  background-color: rgba(170, 169, 169, 0.233);
}

.nav {
  position: fixed;
  top: 100px;
  right: 100px;
  width: 100px;
  height: 300px;
}

.nav>div {
  text-align: center;
  height: 50px;
  width: 146px;
  line-height: 50px;
  background: url('../img/typeback.png') no-repeat 100%;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 600px;
  cursor: pointer;
  transition: transform 0.3s;
}

.nav>div:hover {
  transform: rotate(7deg);
}

.typeActive {
  transform: rotate(7deg);
}

.nav>div:not(:last-child) {
  margin-right: 80px;
}

.type {
  border-radius: 10px;
  padding: 10px;
  color: white;
  position: relative;
  margin-top: 50px;
}

.typeTitle {
  position: absolute;
  top: -34px;
  left: -2px;
  color: #9a591a;
  font-weight: 500;
  height: 40px;
  width: 105px;
  line-height: 40px;
  text-align: center;
  background-image: url('../img/titleback.png')
}

#back {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 500px;
  width: 1200px;
  /* background-color: aliceblue; */
  z-index: -1;
}