.svg {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  z-index: 90;
}

#logoContainer {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
}

#name {
  position: fixed;
  z-index: 100;
  top: 93px;
  left: 95px;
  font-size: 30px;
  color: #49cbff;
  font-weight: bold;
}

#svg {
  display: inline-block;
  vertical-align: middle;
  fill: #0057B8;
}

#svg path:nth-child(1) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#svg path:nth-child(1):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(2) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#svg path:nth-child(2):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(3) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#svg path:nth-child(3):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(4) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#svg path:nth-child(4):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(5) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#svg path:nth-child(5):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(6) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#svg path:nth-child(6):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(7) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#svg path:nth-child(7):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(8) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#svg path:nth-child(8):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(9) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#svg path:nth-child(9):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(10) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#svg path:nth-child(10):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(11) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

#svg path:nth-child(11):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(12) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#svg path:nth-child(12):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(13) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

#svg path:nth-child(13):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(14) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#svg path:nth-child(14):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(15) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

#svg path:nth-child(15):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(16) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

#svg path:nth-child(16):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(17) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

#svg path:nth-child(17):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#svg path:nth-child(18) {
  -webkit-animation: pweek 1.8s linear infinite;
  animation: pweek 1.8s linear infinite;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

#svg path:nth-child(18):hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes pweek {
  0% {
    fill: #0057B8;
  }
  20% {
    fill: #F11E4A;
  }
  40% {
    fill: #F8A527;
  }
  60% {
    fill: #266D7F;
  }
  80% {
    fill: #82A;
  }
  100% {
    fill: #0057B8;
  }
}

@keyframes pweek {
  0% {
    fill: #0057B8;
  }
  20% {
    fill: #F11E4A;
  }
  40% {
    fill: #F8A527;
  }
  60% {
    fill: #266D7F;
  }
  80% {
    fill: #82A;
  }
  100% {
    fill: #0057B8;
  }
}