// 非衬线体 方正兰亭
@font-face
  font-family 'lanting'
  src: url('../fonts/lanting/lanting.eot'); /* IE9 */
  src: url('../fonts/lanting/lanting.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lanting/lanting.woff2') format('woff2'),
          url('../fonts/lanting/lanting.woff') format('woff'),
          url('../fonts/lanting/lanting.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-weight 300
  font-display swap

$font-family = 'Microsoft Jhenghei',Lantinghei SC, 'lanting', PingFang SC, Seguo UI, Microsoft Yahei, Arial