<div class="container">
    <article class="post-wrap page">
        <% if(theme.page_title_enable){ %>
        <h2 class="post-title"><%- page.title %></h2>
        <% } %>
        <section class="post-content">
            <%- page.content %>
        </section>
    </article>
</div>