.header-logo a
  padding 0

.navbar .menu a
  padding 0 8px


.navbar .menu .active
  font-weight 900
  color $light-navbar-active-color
  .dark-theme &
    color $dark-navbar-active-color


.navbar-header a:hover, .navbar .menu a:hover
  background-color transparent

header label
  margin-left 15px
  position relative
  -webkit-transform translateY(.1em) translateX(.5em)
